# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
loli-manager-dao/loli-manager-dao.iml
loli-manager-dao/target/
loli-manager-interface/loli-manager-interface.iml
loli-manager-interface/target/
loli-manager-pojo/loli-manager-pojo.iml
loli-manager-pojo/target/
loli-manager-service/loli-manager-service.iml
loli-manager-service/target/
